<div id="<%= dom_id staff %>">
  <div>
    <strong>User:</strong>
    <%= staff.user_id %>
  </div>

  <div>
    <strong>Practice:</strong>
    <%= staff.practice_id %>
  </div>

  <div>
    <strong>First name:</strong>
    <%= staff.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= staff.last_name %>
  </div>

  <div>
    <strong>Role:</strong>
    <%= staff.role %>
  </div>

  <div>
    <strong>License number:</strong>
    <%= staff.license_number %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= staff.active %>
  </div>

</div>
