<div id="<%= dom_id practice %>">
  <div>
    <strong>Name:</strong>
    <%= practice.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= practice.address %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= practice.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= practice.email %>
  </div>

  <div>
    <strong>License number:</strong>
    <%= practice.license_number %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= practice.active %>
  </div>

</div>
