<div id="<%= dom_id appointment %>">
  <div>
    <strong>Practice:</strong>
    <%= appointment.practice_id %>
  </div>

  <div>
    <strong>Patient:</strong>
    <%= appointment.patient_id %>
  </div>

  <div>
    <strong>Provider:</strong>
    <%= appointment.provider_id %>
  </div>

  <div>
    <strong>Scheduled at:</strong>
    <%= appointment.scheduled_at %>
  </div>

  <div>
    <strong>Duration minutes:</strong>
    <%= appointment.duration_minutes %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= appointment.status %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= appointment.notes %>
  </div>

</div>
